* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* Navbar */
nav {
  display: flex;
  position: sticky;
  background-color:rgb(228, 228, 228);
  justify-content: space-around;
  color:#093752;
  height: 70px;
  align-items: center;
  top: 0;
  z-index: 1;
  /* border-bottom: 1px solid #093752; */
}

nav .navbar-brand {
  font-family: "Viga", sans-serif;
  font-size: 1.5em;
}
nav .nav-title{
  /* width: 40%; */
  font-size: 16px;
}
nav .nav-title ul {
  display: flex;
  list-style: none;
}

nav .nav-title a {
  color:#093752;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

nav .nav-title a:hover {
  cursor: pointer;
  color:white;
}

nav .nav-title .btn:hover{
  color: white;
}

/* Akhir Navbar */

/* Hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #093752;
  border-radius: 3px;
  transition: all 0.7s;
}

/* Akhir Hamburger */

/* hamburger animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  background-color:#093752;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
  background-color: #093752;
  transform: rotate(-45deg) translate(-1px, 0px);
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
/* akhir hamburger animation */

/* List Kosan */
.container{
  display: flex;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-kos:hover{
  opacity: 0.7;
  cursor: pointer;
}

.list-kos img{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.list-kos h5{
  text-align: center;
  font-weight: 300;
  margin-top: 10px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  
}
/* Akhir List Kosan */

/* Maps */
.maps{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.maps iframe{
  width: 1024px;
  height: 500px;
}

/* Akhir Maps */

/* Footer */
footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgb(29, 29, 29);
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

/* Akhir Footer */

/* Utilities */
.btn {
  background-color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
}

.btn:hover{
  border: 1px solid;
  background-color:#093752;
  color: white;
}

/* Akhir Utilities */

/* responsive breakpoint */

/* ! Tablet */
@media (max-width: 991.98px) { 
  .maps iframe{
    width: 700px;
    height: 500px;
  }
}

/*! mobile */
@media screen and (max-width: 576px) {

  /* Navbar */
  .menu-toggle {
    display: flex;
  }

  nav .nav-title ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* background-color: rgb(0, 139, 139); */
    background-color: rgb(228, 228, 228);
    transform: translateX(100%);
    transition: all 1s;
  }

  nav .nav-title a{
    margin-right: 0;
  }

  nav .nav-title ul li a:hover {
    color:white;
    text-decoration: underline;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0%);
  }
  

  nav .nav-title .btn {
  background-color: white;
  border-radius: 20px;
  padding: 10px 50px;
  }

  nav .nav-title .btn:hover {
    background-color: #093752;
    color: white;
    text-decoration: none;
  }
  /* Akhir Navbar */

  /* Content */
  .container{
    justify-content: center;
  }

  /* Akhir Content */

  /* Maps */
  .maps iframe{
    width: 300px;
    height: 500px;
  }
  /* Akhir Maps */

}